@font-face {
  font-family: 'fontello';
  src: url('../font/fontello.eot?42373940');
  src: url('../font/fontello.eot?42373940#iefix') format('embedded-opentype'),
       url('../font/fontello.woff?42373940') format('woff'),
       url('../font/fontello.ttf?42373940') format('truetype'),
       url('../font/fontello.svg?42373940#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?42373940#fontello') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-firefox:before { content: '\e800'; } /* '' */
.icon-chrome:before { content: '\e801'; } /* '' */
.icon-opera:before { content: '\e802'; } /* '' */
.icon-ie:before { content: '\e803'; } /* '' */
.icon-spin6:before { content: '\e804'; } /* '' */
.icon-android:before { content: '\e805'; } /* '' */
.icon-apple:before { content: '\e806'; } /* '' */
.icon-github-circled:before { content: '\e807'; } /* '' */
.icon-git:before { content: '\e808'; } /* '' */
.icon-facebook-squared:before { content: '\e809'; } /* '' */
.icon-tumblr-squared:before { content: '\e80a'; } /* '' */
.icon-twitch:before { content: '\e80b'; } /* '' */
.icon-twitter-squared:before { content: '\e80c'; } /* '' */
.icon-twitter:before { content: '\e80d'; } /* '' */
.icon-facebook-official:before { content: '\e80e'; } /* '' */
.icon-facebook:before { content: '\e80f'; } /* '' */
.icon-dropbox:before { content: '\e810'; } /* '' */
.icon-github-squared:before { content: '\e811'; } /* '' */
.icon-github:before { content: '\e812'; } /* '' */
.icon-git-squared:before { content: '\e813'; } /* '' */
.icon-terminal:before { content: '\e814'; } /* '' */
.icon-resize-full:before { content: '\e815'; } /* '' */
.icon-resize-small:before { content: '\e816'; } /* '' */
.icon-help-circled:before { content: '\e817'; } /* '' */
.icon-left-open:before { content: '\e818'; } /* '' */
.icon-right-open:before { content: '\e819'; } /* '' */
.icon-tag:before { content: '\e81a'; } /* '' */
.icon-tags:before { content: '\e81b'; } /* '' */
.icon-safari:before { content: '\e81c'; } /* '' */
.icon-phone:before { content: '\e81d'; } /* '' */
.icon-attention:before { content: '\e81e'; } /* '' */
.icon-phone-squared:before { content: '\e81f'; } /* '' */
.icon-angle-left:before { content: '\e820'; } /* '' */