
.icon-firefox:before { content: '\e800'; } /* '' */
.icon-chrome:before { content: '\e801'; } /* '' */
.icon-opera:before { content: '\e802'; } /* '' */
.icon-ie:before { content: '\e803'; } /* '' */
.icon-spin6:before { content: '\e804'; } /* '' */
.icon-android:before { content: '\e805'; } /* '' */
.icon-apple:before { content: '\e806'; } /* '' */
.icon-github-circled:before { content: '\e807'; } /* '' */
.icon-git:before { content: '\e808'; } /* '' */
.icon-facebook-squared:before { content: '\e809'; } /* '' */
.icon-tumblr-squared:before { content: '\e80a'; } /* '' */
.icon-twitch:before { content: '\e80b'; } /* '' */
.icon-twitter-squared:before { content: '\e80c'; } /* '' */
.icon-twitter:before { content: '\e80d'; } /* '' */
.icon-facebook-official:before { content: '\e80e'; } /* '' */
.icon-facebook:before { content: '\e80f'; } /* '' */
.icon-dropbox:before { content: '\e810'; } /* '' */
.icon-github-squared:before { content: '\e811'; } /* '' */
.icon-github:before { content: '\e812'; } /* '' */
.icon-git-squared:before { content: '\e813'; } /* '' */
.icon-terminal:before { content: '\e814'; } /* '' */
.icon-resize-full:before { content: '\e815'; } /* '' */
.icon-resize-small:before { content: '\e816'; } /* '' */
.icon-help-circled:before { content: '\e817'; } /* '' */
.icon-left-open:before { content: '\e818'; } /* '' */
.icon-right-open:before { content: '\e819'; } /* '' */
.icon-tag:before { content: '\e81a'; } /* '' */
.icon-tags:before { content: '\e81b'; } /* '' */
.icon-safari:before { content: '\e81c'; } /* '' */
.icon-phone:before { content: '\e81d'; } /* '' */
.icon-attention:before { content: '\e81e'; } /* '' */
.icon-phone-squared:before { content: '\e81f'; } /* '' */
.icon-angle-left:before { content: '\e820'; } /* '' */
.icon-info-circled:before { content: '\e821'; } /* '' */