/* Import fonts */
@import url("fontello.css");

.overlay-darken {
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.3);
}

.front-page {
    position: relative;
    height: calc(100vh - 50px);
    background-size: cover;
    background-repeat: no-repeat;
}

.front-page h1 {
    font-size: 500%;
    color: rgba(255, 255, 255, 0.6);
    margin: 0px;
}

.front-page h2 {
    color: rgba(200, 200, 200, 0.6);
    margin: 0px;
}

/* Tablets+ */
@media (min-width: 767px) {
    .front-page h1 {
        font-size: 700%;
    }

    .front-page h2 {
        font-size: 400%;
    }
}

.center-element {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.center-page {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    text-align: center;
}

.trans-bg {
    background-color: rgba(255, 255, 255, 0.7);
    padding-top: 1em;
    padding-bottom: 2em;
    padding-left: 3em;
    padding-right: 3em;
}

/* Footer */
#page-footer {
    position: relative;
    height: 50px;
    bottom: 0;
    width: 100%;
    padding: 10px;
    background-image: linear-gradient(to top,#3c3c3c 0,#222 100%);
    color: #9d9d9d;
    font-size: small;
}

/* Custom jumbotrons for article headers */
.row > .jumbotron {
    margin-bottom: 0px;
    border-radius: 0px;
    padding: 50px;
    background-size: cover;
    background-color: rgb(0, 0, 0);
}

.row > .jumbotron > .caption {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
}

.row > .jumbotron > .caption > h1 {
    margin-top: 10px;
}

.row > .jumbotron > .caption p {
    margin-bottom: 0px;
}

.row > .jumbotron .repo-link {
    position: relative;
    float: right;
    top: 0px;
}

/* Wells that have margin above */
.well {
    margin-top: 10px;
}

/* Gallery thumbnails*/
.gallery .thumbnail {
    background-color: rgba(255, 255, 255, 0.8);
}

.gallery .thumbnail img {
    width: 100%;
}

.gallery .thumbnail .caption {
    font-size: 24px;
    text-align: center;
}

.gallery .thumbnail a:hover {
    color: rgb(0, 0, 0);
}

/* Centered big title */
.page-title {
    padding: 50px;
    text-align: center;
    font-size: 56px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 5px;
}

/* Create custom label colours */
.label-java {
    background-color: #f46303;
}

.label-c {
    background-color: #f00;
}

.label-html {
    background-color: #0005ff;
}

.label-vcs {
    background-color: #808080;
}

.label-robotics {
    background-color: #ff0000;
}

.label-prototype {
    background-color: #00ff21;
}

.label-arduino {
    background-color: #006d8b;
}

.label-javascript {
    background-color: #000dff;
}

.label-bootstrap {
    background-color: #870274;
}

.label-jquery {
    background-color: #0005ff;
}

.label-ai {
    background-color: #00b49e;
}

/* Fit the body to everything under the navbar */
html, body {
    height: 100%;
}

body {
    padding-top: 50px;
}

@media (min-width:767px) {
    body {
        padding-top: 50px;
    }
}

.full-size {
    /* Account for header and footer heights */
    min-height: calc(100vh - 50px - 50px);
    background-color: #fff;
}

.galleria.full-size {
    /* Bug fix */
    min-height: calc(100vh - 50px - 50px - 1px);
}

/* Articles */
.article-content {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 1em;
    text-align: justify;
    background-size: cover;
}
/* Small+ devices (tablets, 768 px and up) */
@media (min-width: 767px) {
    .article-content {
        margin-top: 2em;
        margin-bottom: 5em;
    }
}

/* Framed pictures */
.framed {
    background-color: rgba(255,255,255,0.8);
    border-radius: 5px;
    padding: 10px;
    padding-bottom: 5px;
}

@media (min-width:767px) {
    .framed {
        margin-left: 50px;
        margin-right: 50px;
    }
}

.framed > img {
    max-width: 100%;
}

/* Parallax */
.parallax-bg {
    background-size: auto 100%;
    background-repeat: no-repeat, no-repeat;
}
/* Tablets+ */
@media (min-width: 767px) {
    .parallax-bg {
        background-size: 100% auto;
        background-repeat: no-repeat, no-repeat;
    }
}

/* Galleria */
.galleria {
    background: #000;
    overflow: no-content no-content;
}

/* Bookmarklet */
a.bookmarklet {
    padding: 3px;
    padding-left: 5px;
    padding-right: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    cursor: move;
}

a.bookmarklet::before {
    content: attr(data-display-text);
}

/* Selectable code */
pre.selectable {
    position: relative;
}

pre.selectable:not(:hover)::after {
    font-family: '"Helvetica Neue",Helvetica,Arial,sans-serif';
    font-size: 14px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    color: white;
    content: 'Click to select.';
}

pre.selectable:not(:hover)::before {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.7);
    border-radius: 4px;
    content: '';
}
