<head>
    <meta name="viewport" charset="utf-8" content="width=device-width, initial-scale=1">
    <title>{{ page.title }} | Wesley Heung</title>
    <!-- Favicon -->
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <!-- Load JavaScript and CSS components -->
    <!-- Load JQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <!-- Google Code Prettify -->
        <script src="https://cdn.rawgit.com/google/code-prettify/master/src/prettify.js"></script>
        <link rel="stylesheet" type="text/css" href="https://cdn.rawgit.com/google/code-prettify/master/styles/desert.css">
    <!-- Custom CSS -->
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
    <!-- Header -->
    <script src="/js/header.js"></script>
</head>
