/* Front page carousel */

.carousel > .carousel-inner > .item {
    height: 100%;
    width: 100%;
}

.carousel-caption {
    border-radius: 25px;
    margin-bottom: 50px;
    padding-bottom: 75px;
    background-color: rgba(255, 255, 255, 0.7);
    color: #000;
}

/* Custom jumbotrons for article headers */
.row > .jumbotron .repo-link {
    float: right;
}

.row > .jumbotron {
    margin-bottom: 0px;
    border-radius: 0px;
    padding: 50px;
    padding-bottom: 10%;
    background-color: rgb(0, 0, 0);
}

.row > .jumbotron > .caption {
    text-align: left;
    background-color: rgba(255, 255, 255, 0.7);
    padding: 20px;
    margin-left: 20%;
}

.row > .jumbotron > .caption > h1 {
    margin-top: 10px;
}

.row > .jumbotron > .caption p {
    margin-bottom: 0px;
}

/* Gallery thumbnails*/
.thumbnail .caption {
    font-size: 24px;
    color: inherit;
    text-align: center;
}

.thumbnail a:hover {
    color: rgb(0, 0, 0);
}

/* Gallery title */
.page-title {
    padding: 50px;
    text-align: center;
    font-size: 56px;
}
/* Create custom label colours */
.label-java {
    background-color: #0082ff;
}

.label-vcs{
    background-color: #808080;
}
/* Pad the body so the navbar has space. */
body { padding-top: 50px; }

/* Articles */
.article-content{
    margin-top: 25px;
    background-color: rgba(255, 255, 255, 0.7);
}