/* Front page carousel */

.carousel {
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
}

.carousel > .carousel-inner {
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
}

.carousel-caption {
    position: absolute;
    left: 15%;
    right:  15%;
    bottom: 30%;
    border-radius: 25px;
    margin-bottom: 50px;
    padding-bottom: 30px;
    background-color: rgba(255, 255, 255, 0.7);
    color: #000;
}

/* Custom jumbotrons for article headers */
.row > .jumbotron {
    margin-bottom: 0px;
    border-radius: 0px;
    padding: 50px;
    padding-bottom: 10%;
    background-size: cover;
    background-color: rgb(0, 0, 0);
}

.row > .jumbotron .repo-link {
    float: right;
}


.row > .jumbotron > .caption {
    text-align: left;
    background-color: rgba(255, 255, 255, 0.7);
    padding: 20px;
    margin-left: 20%;
}

.row > .jumbotron > .caption > h1 {
    margin-top: 10px;
}

.row > .jumbotron > .caption p {
    margin-bottom: 0px;
}

/* Gallery thumbnails*/
.gallery .thumbnail .caption {
    font-size: 24px;
    color: #000;
    text-align: center;
}

.gallery .thumbnail a:hover {
    color: rgb(0, 0, 0);
}

/* Gallery title */
.gallery > .page-title {
    padding: 50px;
    text-align: center;
    font-size: 56px;
}
/* Create custom label colours */
.label-java {
    background-color: #f46303;
}

.label-html {
    background-color: #0005ff;
}

.label-vcs {
    background-color: #808080;
}

.label-robotics {
    background-color: #ff0000;
}

.label-prototype {
    background-color: #00ff21;
}

.label-arduino{
    background-color: #006d8b;
}

.label-bootstrap {
    background-color: #870274;
}

.label-jquery {
    background-color: #0005ff;
}

/* Pad the body so the navbar has space. */
body {
    padding-top: 50px;
}

/* Articles */
.article-content {
    margin-top: 2em;
    margin-bottom: 5em;
    background-color: rgba(255, 255, 255, 0.7);
}

/* Framed pictures */
.framed {
    display: inline-block;
    background-color: rgba(255,255,255,0.7);
    border-radius: 3px;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
}
